$height: 800px

.container_bottom
    position: fixed
    left: 0
    right: 0
    bottom: 0
    
    height: 89px
    width: 1440px
    
    background-image: url("./img/player.png")
    background-size: contain
    
.container_left
    position: relative
    float: left
    height: $height
    width: 200px
    
    background-color: rgb(18,18,18)
    
.container_right
    position: relative
    float: left
    height: $height
    width: 350px
    
    background-color: rgb(18,18,18)
    
.container_middle
    position: relative
    float: left
    height: $height
    width: 890px
    background-color: green
        
.container_middle__top
    
.container_middle__bottom

    
